<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="parent x y z roll pitch yaw">
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <xacro:include filename="$(find vls_description)/urdf/VLS-128.urdf.xacro"/>
    <xacro:include filename="$(find ouster_description)/urdf/OS1-128.urdf.xacro"/>
    <xacro:include filename="$(find camera_description)/urdf/monocular_camera.xacro"/>
    <xacro:include filename="$(find imu_description)/urdf/imu.xacro"/>

    <xacro:arg name="gpu" default="false"/>
    <xacro:arg name="config_dir" default="$(find prius_sensor_kit_description)/config"/>

    <xacro:property name="sensor_kit_base_link" default="sensor_kit_base_link"/>

    <joint name="${sensor_kit_base_link}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${sensor_kit_base_link}"/>
    </joint>
    <link name="${sensor_kit_base_link}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>

    <!-- sensor -->
    <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>

    <!-- lidar -->    
    <xacro:OS1-128 parent="sensor_kit_base_link" name="os1_top" topic_points="/points_raw" hz="10" samples="220">
      <origin
        xyz="${calibration['sensor_kit_base_link']['os1_top_base_link']['x']}
             ${calibration['sensor_kit_base_link']['os1_top_base_link']['y']}
             ${calibration['sensor_kit_base_link']['os1_top_base_link']['z']}"
        rpy="${calibration['sensor_kit_base_link']['os1_top_base_link']['roll']}
             ${calibration['sensor_kit_base_link']['os1_top_base_link']['pitch']}
             ${calibration['sensor_kit_base_link']['os1_top_base_link']['yaw']}"
      />
    </xacro:OS1-128>    

    <!-- camera -->
    
    <!-- <xacro:stereo_camera_macro
      name="camera0/camera"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['camera0/camera_link']['x']}"
      y="${calibration['sensor_kit_base_link']['camera0/camera_link']['y']}"
      z="${calibration['sensor_kit_base_link']['camera0/camera_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['camera0/camera_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['camera0/camera_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['camera0/camera_link']['yaw']}"
      fps="30"
      width="800"
      height="400"
      fov="1.3"
    /> -->

    <!-- radar -->
    <!-- <xacro:ars548_macro
      name="ars548_frh"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['ars548_frh_base_link']['x']}"
      y="${calibration['sensor_kit_base_link']['ars548_frh_base_link']['y']}"
      z="${calibration['sensor_kit_base_link']['ars548_frh_base_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['ars548_frh_base_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['ars548_frh_base_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['ars548_frh_base_link']['yaw']}"
      fps="30"
      width="800"
      height="400"
      fov="1.3"
    /> -->
    <!-- <xacro:ars548_macro
      name="ars548_flh"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['ars548_flh_base_link']['x']}"
      y="${calibration['sensor_kit_base_link']['ars548_flh_base_link']['y']}"
      z="${calibration['sensor_kit_base_link']['ars548_flh_base_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['ars548_flh_base_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['ars548_flh_base_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['ars548_flh_base_link']['yaw']}"
      fps="30"
      width="800"
      height="400"
      fov="1.3"
    /> -->
    <!-- <xacro:ars548_macro
      name="ars548_rrh"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['ars548_rrh_base_link']['x']}"
      y="${calibration['sensor_kit_base_link']['ars548_rrh_base_link']['y']}"
      z="${calibration['sensor_kit_base_link']['ars548_rrh_base_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['ars548_rrh_base_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['ars548_rrh_base_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['ars548_rrh_base_link']['yaw']}"
      fps="30"
      width="800"
      height="400"
      fov="1.3"
    /> -->
    <!-- <xacro:ars548_macro
      name="ars548_rlh"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['ars548_rlh_base_link']['x']}"
      y="${calibration['sensor_kit_base_link']['ars548_rlh_base_link']['y']}"
      z="${calibration['sensor_kit_base_link']['ars548_rlh_base_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['ars548_rlh_base_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['ars548_rlh_base_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['ars548_rlh_base_link']['yaw']}"
      fps="30"
      width="800"
      height="400"
      fov="1.3"
    /> -->
    <!-- gnss -->
    <!-- <xacro:imu_macro
      name="gnss"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['gnss_ins_link']['x']}"
      y="${calibration['sensor_kit_base_link']['gnss_ins_link]['y']}"
      z="${calibration['sensor_kit_base_link']['gnss_ins_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['gnss_ins_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['gnss_ins_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['gnss_ins_link']['yaw']}"
      fps="100"
    /> -->

    
  </xacro:macro>
</robot>
